# For a detailed guide to building and testing on iOS, read the docs:
# https://circleci.com/docs/2.0/testing-ios/

version: 2.1

jobs:
  build-and-test:
    macos:
      xcode: 11.6.0 # Specify the Xcode version to use

    steps:
      - checkout
      - run: "bundle install"
      - run: "bundle exec fastlane standard_tests"

  install-tests:
    macos:
      xcode: 11.6.0 # Specify the Xcode version to use

    steps:
      - checkout
      - run: "bundle install"
      - run: "bundle exec fastlane install_tests"
    
  test-legacy-10:
    macos:
      xcode: 11.6.0 # Specify the Xcode version to use

    steps:
      - checkout
      - run: sudo gem install xcode-install
      - run: sudo xcversion simulators --install="10.3.1" --no-progress
      - run: "bundle install"
      - run: "bundle exec fastlane legacy_tests_10"

  test-legacy-11:
    macos:
      xcode: 11.6.0 # Specify the Xcode version to use

    steps:
      - checkout
      - run: sudo gem install xcode-install
      - run: sudo xcversion simulators --install="11.4" --no-progress
      - run: "bundle install"
      - run: "bundle exec fastlane legacy_tests_11"

  test-legacy-12:
    macos:
      xcode: 11.6.0 # Specify the Xcode version to use

    steps:
      - checkout
      - run: sudo gem install xcode-install
      - run: sudo xcversion simulators --install="12.4" --no-progress
      - run: "bundle install"
      - run: "bundle exec fastlane legacy_tests_12"      

workflows:
  build-and-test:
    jobs:
      - build-and-test
      - install-tests
      - test-legacy-10
      - test-legacy-11
      - test-legacy-12